

h2.title {
    font-size: 24px;
    margin-bottom: 10px;
}

.form-wrap {
    margin: 20px;
    text-align: center;
}


select {
    font-size: 18px;
    padding: 8px;
    border: 1px solid #aeaeae;
    border-radius: 5px;
    margin-bottom: 10px;
}

button.store-btn {
    border: none;
    background-color: #88af62;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.store-btn:hover {
    background-color: #88af62;
}


