@charset "UTF-8";
.cart-wrap{
	padding: 1.5em;
	
}
.cart-wrap p{
	text-align: center;
}
#showCart{
	position: fixed;
	top:50%;
	right: 50px;
	transform:translateY(-50%);
}
.cart{
	width:320px;
	border:1px solid green;
	background-color: #fcfff9;
	max-height: 520px;
	overflow-y: scroll;
	
}
.cart .cart-price{
	margin: 10px;
	width: 80px;
	text-align: center;
	position: relative;
}
.cart .cart-price .sales-price{
	/* margin-right: 5px; */
}

.cart .cart-price .or-price{
	font-size:12px;
	color: darkgrey;
	text-decoration: line-through;
	margin-left: 3px;
	position: absolute;
	TOP: -15PX;
    RIGHT: 24PX;
}
.cart .cart-wrap ul{
	margin:  10px 
}

.cart .cart-wrap ul > li:nth-of-type(2){
	display: flex;
	align-items: center;
}
.cart .total-sales-price{
	font-weight: 700;
	color: green;
}
.cart .total-price{
	font-weight: 700;
}
.cart-lBtn,.cart-RBtn {
	width:20px;
}
.del-Btn{
	width: 30px;
	font-size: 12px;
}

.num{
	width : 30px;
	display: inline-block;
	text-align: center;
}