<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org" xmlns:sec="//www.thymeleaf.org/extras/spring-security"
	th:replace="layout/common-layout :: commonLayout( ~{::head}, ~{::main} )">
<head>
	<!-- iamport.payment.js -->
	<script src="https://cdn.iamport.kr/v1/iamport.js"></script>
</head>
<main>
<div class="order-size">
	<div>
		<h1>장바구니</h1>
		<div class="order-Barket">
			<table class="order-table">
				<thead>
					<tr>
						<th>사진</th>
						<th>상품명</th>
						<th>수량</th>
						<th>가격</th>
						<th>상품별 총가격</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${#lists.isEmpty(list)}">
						<th colspan="4">장바구니가 비어있습니다.</th>
					</tr>
					<tr th:each="dto:${list}">
						
						<td>
							<img th:src="${dto.gie[0].url}" height="40px;">
						</td>
						<td th:text="${dto.name}">상품명</td>
						<td th:text="${dto.count}">구매수량</td>
						<td th:text="${dto.eaPrice}">개당 가격</td>
						<td th:text="${dto.count*dto.eaPrice}">상품별 총가격</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</main>
</html>