<!DOCTYPE html>
<html>
    <footer>
    	<h1>푸터섹션</h1>
    	<div class="wrap view-size footer">
			<div class="flex wrap">
				<a href="#">개인정보처리방침</a>
				<a href="#">서비스이용약관</a>
				<a href="#">멤버십이용약관</a>
				<a href="#">그린식스카드이용약관</a>
				<a href="#">고객문의</a>
				<a href="#">고객설문</a>
				<a href="#">사이트맵</a>
				<a href="#">BI소개</a>
			</div>
			<div class="wrap2">
				<p>법인명 (주)그린식스 대표자: 노그린 사업자등록번호: 123-45-67890</p>
				<p>주소:서울 노원구 상계로3길 21 대표전화 : 02-1234-5678(가맹문의:02-2345-6789)</p>
				<p>COPYRIGHT(C)GREENSIX. All Rights Reserved.</p>
				
			</div>
    	</div>
    </footer>
</html>