<!DOCTYPE html>
<html xmlns:th="">
    <head>
    	<link rel="stylesheet" href="/css/commons/common.css">
    	<link rel="stylesheet" href="/css/franchisee/order.css">
    	<script src="/webjars/jquery/jquery.min.js"></script>
    	<script src="/js/franchisee/order.js"></script>
   	 	<meta charset="UTF-8">
   	 	<meta th:if="${_csrf}" name="_csrf" th:content="${_csrf.token}"/>
		<meta th:if="${_csrf}" name="_csrf_header" th:content="${_csrf.headerName}"/>
    	<title>Insert title here</title>
    </head>
	<body class="order">
		<div>
		<div class="flex between wrap">
			<h1>로고영역</h1>
			<div class="wrap fc-logo flex">
				<a href="/" class="flex"> <span class="logo-style"> GREEN <img alt=""
						src="/images/icon/greenSix-logo3.svg" width="56px;" height="64px;" >
				</span>
				<span  class="logo-style" style="color: #cc3399">IX</span>
				</a>
				<div >
					<p class="storeName" th:text="${store.member.name}"></p>
				</div>
			</div>
			<div class="flex wrap-label">
				<div>
					<input class="storeNo" type="hidden" th:value="${store.no}">
					<input type="radio" id="poss" name="order" value="true" onchange="changeStatus(this)" th:checked="${store.status eq true}" class="order-poss" ><label for="poss">영업중</label>
				</div>
				<div>
					<input type="radio" id="imposs" name="order" value="false" onchange="changeStatus(this)" th:checked="${store.status eq false}" class="order-impo"><label for="imposs">영업종료</label>
				</div>
			</div>
		</div>
		<div class="wrap">
			<div class="flex order-menu center between">
					<p>운영중인가게</p>
					<p>매출확인</p>
					<p>
						<a href="/">홈으로</a>
					</p>
			</div>
			<div class="flex">
				<ul class="order-waiting">
					<li class="order-wait">
						<a id="order-wait" href="#" onclick="changeForm1(this)">접수대기 </a>
					</li>
					<li class="order-processing"><a id="order-processing" href="#" onclick="changeForm1(this)">처리중</a></li>
					<li class="order-cancel"><a id="order-cancel" href="#" onclick="changeForm1(this)">주문취소</a></li>
					<li class="order-end"><a id="order-end" href="#" onclick="changeForm1(this)">픽업</a></li>
				</ul>
				<ul>
					<li id="wait"></li>
				</ul>
			</div>
		</div>
		</div>
	</body>
</html>