<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org" 
	th:replace="layout/common-layout :: commonLayout( ~{::head}, ~{::main} )" >
    <head>
    	<link rel="stylesheet" href="/css/commons/index.css">
    	<link rel="stylesheet" href="/css/notice/index-notice.css">
    	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    	<script src="/js/index/index.js"></script>
    </head>
    <main>
       <h1>메인영역</h1>
      	<section id="visual">
       		<h1>비주얼영역</h1>
       		<div class="wrap">
       			<!-- 비주얼이미지 -->
       		</div>
       	</section>
        <div class="wrap view-size">

        	<section class="product-view" id="product-view">
        		<h1>상품 보이기</h1>
        		<div>
        			<p class="index-title">인기상품</p>
        			<div class="view-area"></div>
        		</div>
        	</section>
        	<section class="product-view" id="product-sale">
        		<h1>상품 보이기</h1>
        		<div>
        			<p class="index-title">할인상품</p>
        			<div class="view-area"></div>
        		</div>
        	</section>
        	<div class="notice-view flex around">
        		<div class="notice">
        			<ol class="notice-list">
        				<div>
	        				<a class="tit" href="/notice">공지사항</a>
	        				<li class="index-notice">
	        					
	        				</li>
	        				<li >
	        				
	        				</li>
        				</div>
        			</ol>
        		</div>
        		<div class="event">
        			<ol class="event-list">
        				<div>
        					<a class="tit" href="/event">이벤트</a>
	        				<li class="index-event">
	        					
	        				</li>
	        				<li >
	        				
	        				</li>
        				</div>
        			</ol>
        		</div>
        	</div>
			
        </div>
	<div class="chatbot">
		<div class="chatbot-content">
			<section class="chatbot-section">
				<div class="flex right">
					<span onclick="chatbotClose()" class="material-symbols-outlined "
						style="font-size: 17px; color: gray; padding: 10px; cursor: pointer;">close</span>
				</div>
				<div class="cc">
				</div>
			</section>
			<div class="search-sec">
				<div class="search-input">
					<input type="text" class="search" placeholder="검색어를 입력하세요.">
					<span onclick="chatbotSearch()" class="material-symbols-outlined">search</span>
				</div>
			</div>
		</div>
		<div class="flex right">
			<img id="chat-img" onclick="chatbot()" alt="#" width="50px"
				src="/images/index/quick-chatbot.gif">
		</div>
	</div>
</main>
</html>